body {
	background-image: url(aldi.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: darkgrey;
	color: black
}

.intro {
	width: 1000px;
	background-color: #BEBEBE;
	border: 10px;
	padding: 15px;
	margin: auto;
}

.intro h1 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 40pt;
	font-color: white;
	font-weight: 900;
}

.intro h3 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 30pt;
	font-color: lightgrey;	
}
	
.grocery {
	width: 800px;
	background-color: #BEBEBE;
	border: 10px;
	padding: 15px;
	margin: auto;
 
}

.grocery p {
	font-family: 'Playfair Display', serif;
	text-align: left;
	font-size: 16pt;

}

#map {
	width: 800px;
	height: 600px;
	margin: auto;
}
